* {
  margin: 0;
  padding: 0;
}

html {
  height: 160%;
}
body {
  background: -webkit-linear-gradient(
    left bottom,
    rgb(85, 190, 143),
    rgb(55, 68, 110)
  );
}

.content {
  background-color: antiquewhite;
  margin: 0 auto;
  width: 800px;
  font-family: "正楷", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 30px 20px;
}
.content header {
  color: #777;
  border-bottom: 1px solid #777;
  line-height: 50px;
}
.content footer {
  margin: 30px 0;
  border-top: 1px solid #777;
  text-align: right;
  padding: 10px 20px;
}
.content footer a {
  text-decoration: none;
  color: #777;
  line-height: 50px;
  height: 50px;
}

.content footer a:hover {
  color: brown;
}

.content .title {
  font-size: 25px;
  line-height: 50px;
  border-bottom: 2px solid #888;
  padding: 10px 0 2px 10px;
  color: chocolate;
}
.content .title img {
  height: 25px;
  margin-top: 13px;
  margin-right: 4px;
  float: left;
}

.content .inf {
  display: inline-block;
}

.content .inf img {
  margin: 40px 0;
  width: 100px;
  float: right;
}

.content .inf ul {
  list-style-type: lower-greek;
  width: 600px;
  margin: 10px;
  display: inline-block;
  margin: 20px 40px;
}
.content .inf ul li {
  line-height: 25px;
  font-size: 13px;
}

.content .inf .infname {
  width: 70px;
  display: inline-block;
}

.content .contact {
  padding: 20px;
}
.content .contact .per-details ul {
  list-style: none;
}
.content .contact .per-details ul li {
  width: 300px;
  display: inline-block;
}
.content .contact label {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}
.content .contact .per-details input {
  width: 200px;
}

.content .contact .message {
  padding: 20px 0;
}

.btn {
  margin-left: 240px;
  background: none;
  outline: 0;
  color: rgb(52, 48, 48);
  border: 2px solid rgb(52, 48, 48);
  width: 104px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  color: rgb(50, 88, 214);
}

.btn label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  z-index: 1;
  background-color: antiquewhite;
}
.btn::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0px;
  height: 0;
  z-index: 0;
  background-color: rgb(50, 88, 214);
  transition: width 0.5s, height 0.5s;
}
.btn::after {
  content: "";
  position: absolute;
  right: -2px;
  bottom: -2px;
  width: 0px;
  height: 0px;
  z-index: 0;
  background-color: rgb(50, 88, 214);
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
.btn:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
