* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(
    left bottom,
    rgb(85, 190, 143),
    rgb(55, 68, 110)
  );
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.container .header-out {
  width: 100%;
  height: 250px;
  background-image: url(../image/盐湖银河3.jpg);
  background-size: 100% 250px;
  border-radius: 8px 8px 0 0;
  margin-top: 2%;
}
.container .header-out .texttitle {
  width: 80%;
  height: 50px;
  padding-top: 160px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  text-align: center;
}
.container .header-out p {
  width: 100px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin: 0 auto;
}
.container .content {
  width: 996px;
  height: 900px;
  border: 2px solid white;
  border-top: none;
}

.content nav {
  padding-left: 20px;
  height: 100%;
  width: 150px;
  border-right: 1px solid white;
  float: left;
}
.content nav ul {
  display: inline-block;
  list-style-type: none;
}
.content nav ul li {
  line-height: 40px;
  width: 130px;
  border-bottom: 1px solid yellowgreen;
  padding-top: 20px;
}
.content nav ul li a {
  color: white;
  text-decoration: none;
}
.content nav ul li a:hover {
  color: saddlebrown;
}
.content .food {
  width: 800px;
  height: 800px;
  float: right;
}

.content .food h1 {
  margin: 20px;
  border-bottom: 2px solid rgb(37, 168, 55);
  color: antiquewhite;
  line-height: 70px;
}

.content .food table {
  border-spacing: 20px 10px;
}
.content .food table td {
  width: 230px;
  height: 230px;
}
.content .food table td .text {
  margin: 0 auto;
  color: antiquewhite;
  width: 100px;
  text-align: center;
}
.content .food table td img {
  width: 230px;
  height: 200px;
}
